@font-face {
	font-family: 'mentone';
	src: url('../fonts/mentone-semibol.eot');
	src: local('Ã¢ËœÂº'), url('../fonts/mentone-semibol.woff') format('woff'), url('../fonts/mentone-semibol.ttf') format('truetype'), url('../fonts/mentone-semibol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body
{
	font-family: mentone;
	color:#6c000a;
}
a
{
	font-family: mentone;
	color:#6c000a;
}
#corpo
{
	height: 100vh;
	width: 650px;
	margin: 0 auto;

}
div#user
{
	Float: right;
	height: 32px;
	width: 32px;
	background-image: url("../img/usuario.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
div#topuser
{
	height:32px;
	width:inherit;
}
div#titulo
{
	margin-top: 15px;
	text-align: center;
}
a#titulo
{
	font-size: 26pt;
}
div#header
{
	background-image: url("../img/hrcontinuo.png");
	background-repeat: repeat-x;
	background-size: contain;
	margin-top: 50px;
}
div#logo
{
	height: 100px;
	width: 100px;
	background-image: url("../img/samu.png");
	background-size: contain;
	background-repeat:no-repeat;
    margin: 0 auto;
    cursor: default;
}

/*ESTILOS CENTRO*/
/*estilos opÃ§Ãµes*/
.center
{
	width:inherit;
}
#opcoes {
    margin: 0 auto;
    margin-top: -40px;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
}
#opcoesprincipal {
    margin: 0 auto;
    margin-top: 40px;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
}
.opcao
{
	display:inline-block;
	text-align: center;
}
.tituloopcao
{
	font-size:18px;
	text-align: center;
	cursor: pointer;
}
.imgopcao
{
	height: 120px;
	width: 120px;
	background-size: contain;
	background-repeat:no-repeat;
	text-align: center;
	font-size:18pt;
	cursor: pointer;
}
#opcao1
{

}
#imgopcao1
{
	background-image: url("../img/Editar_icon.png");
}
#opcao2
{
	margin-right:40px;
}
#imgopcao2
{
	background-image: url("../img/nova_ocorrencia.png");
	margin:0 auto;
}
#opcao3
{
    margin-left: 40px;
}
#imgopcao3
{
	background-image: url("../img/excluir.png");
}
/*FIM estilos opÃ§Ãµes*/
/*estilos ocorrencias*/
#ocorrencias
{
	display: flex;
	margin-top: 65px;
     padding-left: 30px; /*remover depois*/
    
}
#ocorrenciaopcoes
{
	display:inline-block;
	margin:0 auto;
	text-align: center;
}
.setas
{
	height:36px;
	width:36px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: auto;
	cursor: pointer;
}
#setaesq
{
	background-image: url("../img/setaesq.png");
	background-size: contain;
	background-repeat:no-repeat;
	float: left;
}
#setadir
{
	background-image: url("../img/setadir.png");
	background-size: contain;
	background-repeat:no-repeat;
	float: right;
}
.ocorop
{
	width:154px;
	display: inline-table;
	margin: 0 auto;
	cursor: pointer;
}
#ocorop2
{
	margin-right: 20px;
    margin-left: 20px;
}
.imgmapaocor
{
	width:154px;
	height:122px;
	background-image: url("../img/mapa.png");
	background-size: contain;
	background-repeat:no-repeat;
}
.tipoocor
{
	font-size: 14pt;
	display: block;
}
.idocor
{
	font-size: 20pt;
}

/*fim estilos ocorrencias*/
/*FOOTER*/

#footer
{
	width: 0;
	height: 0;
	border-bottom: 17px solid #00b262;
	border-left: 325px solid rgba(255, 255, 255, 0);
	border-right: 325px solid transparent;
	margin-top: 80px;
}
#innerfooter
{
    background-color: #00b262;
    width: 650px;
    height: 80px;
}

/*FIM FOOTER*/


/*PAGE OCORRENCIAS*/
#ocorr-body {
    text-align: right;
    width: 315px;
    margin: 0 auto;
}
.titulosinputask {
    margin: 75px;
}
#RadioButtonList1 {
    margin: 0 auto;
}
.buttonocorr {
    margin-right: 40px;
}
.class1 {
    width: 50%;
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 12px;
}
.panel-heading1 {
    margin-top: -40px;
}

#path {
    height: 36px;
}

#imgind {
    height: 31px;
    width: 35px;
    background-image: url('../img/home.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: table-cell;
}

#imgoc
{
	height:31px;
	width: 35px;
	background-image: url("../img/ocorrencia.png");
	background-size: contain;
	background-repeat:no-repeat;
	display: table-cell;
}

#primary
{
	display: table-cell;
	height: 15px;
	margin: auto;
	vertical-align: middle;
	font-size: 18px;
	padding-left: 8px;
}

#secondary
{
	display: table-cell;
	vertical-align: middle;
	font-size: 12pt;
	padding-left: 5px;
}

.titulosinput
{
	text-align: right;

}
textarea {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid rgb(189, 189, 189);
    resize: none;
}
input
{
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
    resize: none;
}
#ocorrenciasinputs
{
	width: inherit;
	padding-top: 25px;
}
td
{
	width: 176px;
	text-align: right;
	padding-bottom: 22px;
	font-size: 11pt;
}
#tbinputs
{
	margin: 0 auto;
}
#inforadic
{
	margin: 0 auto;
	width: 365px;
	height: 150px;
	resize: none;
}
#divinforadic
{
	background-color: transparent;
	width: 365px;
	margin: 0 auto;
	height: 165px;
}
.buttones
{
	-webkit-border-radius: 19;
	-moz-border-radius: 19;
	border-radius: 19px;
	color: #6c000a;
	background: #ffffff;
	padding: 4px 20px 4px 20px;
	border: solid #a9a9a9 1px;
	width: 100px;
	font-family: mentone;
	text-align: center;
}
.buttones:hover
{
	background: #a9a9a9;
	cursor: pointer;
}
#buttons
{
	margin: 0 auto;	
	width: 205px;
}

  .menu{
   list-style: none;
      margin: 0;
      padding: 0;   
  }

  .menu {   
   margin: 50px auto; 
   margin-left: 0;
   width: 800px;   
   width: -moz-fit-content;
   width: -webkit-fit-content;
   width: fit-content; 
  }

  .menu > li {
   background-color: #6c000a;
   position: relative;
   transform: skewX(25deg);
  }

  .menu p {
   color:white;
   text-decoration: none;
   font-family: mentone;
   font-size: 18px;
  }  
 
  .menu > li > p {
   transform: skewX(-25deg);
   padding: 0.1em 2em;
  }

.p_icon{
 float:left;
}




/*FIM PAGE OCORRENCIAS*/